<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include("./partials/head.ejs") %>



<style>
.spinner {
   width: 11.2px;
   height: 11.2px;
   border-radius: 11.2px;
   box-shadow: 28px 0px 0 0 rgba(92,255,71,0.2), 22.7px 16.5px 0 0 rgba(92,255,71,0.4), 8.68px 26.6px 0 0 rgba(92,255,71,0.6), -8.68px 26.6px 0 0 rgba(92,255,71,0.8), -22.7px 16.5px 0 0 #5cff47;
   animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
   to {
      transform: rotate(360deg);
   }
}
</style>


  <body>
    <%- include("./partials/preloader.ejs") %>



    <!-- <div id="preloader"></div>  -->
 
    <div class="theme-toggler" style="display: none;">
      <span class="material-icons-sharp active">
        light_mode
      </span>
      <span class="material-icons-sharp">
        dark_mode
      </span>
    </div>


    <div class="container ">
    
      <div class="quiz-info mx-auto " id="quiz-info">
        <% if (quiz) { %>

          <div class="description text-center" style="display: inline;">
            <h2> اسم الامتحان : <span>
                <%= quiz.quizName %>
              </span> </h2>
            <h2>
              وقت الامتحان : <span>
                <%= quiz.timeOfQuiz %>
              </span> د
            </h2>
            <h2>
              عدد الاسئله : <span>
                <%= quiz.sampleQuestions %>
              </span>
            </h2>
            <h2>
              % درجه النجاح : <span></span> 60
            </h2>
            <div class="licens my-4 text-break" dir="rtl">
              <h2>القواعد والشروط : </h2>
              <p class="mt-3">1 - لن تتمكن من الدخول الي الامتحان مره اخري من بعد الضغط علي زر <span
                  class="text-warning"> "بدأ الامتحان" </span>الا اذا قام المعلم الخاص بك بفتحه مجددا</p>
              <p>2 - في حال خروجك من الامتحان بدون الضغط علي زر <span class="text-warning">"انهاء الامتحان"</span> فسيتم
                الحصول علي درجة صفر </p>
              <p>3 - في حال انتهاء وقت الامتحان قبل الضغط علي زر <span class="text-warning">"انهاء الامتحان"</span> يحصل
                الطالب علي درجته التي قام بالحصول عليها فعلياً ولن يحدث اي نقصان "اي انك ستحصل علي درجتك علي حسب عدد
                الاسئله التي قمت بحلها صحيحه"</p>
              <p>4 - في حال انتهاء وقت الامتحان وانت خارج هذه الصفحح ستحصل علي صفر لان هذا يعد غش</p>
            </div>
            <button id="StartQuiz"  onclick="window.location.href='/student/quizWillStart/<%= quiz._id %>?qNumber=1'">بدأ الامتحان</button>
          </div>






          <% } %>
    

      </div>
    </div>



    <script src="/assest/bootstrap.bundle.min.js"></script>
    <script src="/assest/bootstrap.min.js"></script>


  </body>

</html>