<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include("./partials/head.ejs") %>



<style>
.spinner {
   width: 11.2px;
   height: 11.2px;
   border-radius: 11.2px;
   box-shadow: 28px 0px 0 0 rgba(71, 102, 255, 0.921), 22.7px 16.5px 0 0 rgba(71,101,255,0.4), 8.68px 26.6px 0 0 rgba(71,101,255,0.6), -8.68px 26.6px 0 0 rgba(71,101,255,0.8), -22.7px 16.5px 0 0 #4765ff;
   animation: spinner-b87k6z 1s infinite linear;
}
.box-img {
    width: 100%; /* Set to full width of the parent container */
    max-width: 400px; /* Adjust to your desired max width */
    height: 300px; /* Ensure fixed height */
    overflow: hidden; /* Hide any overflow */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the box without distortion */
}

@keyframes spinner-b87k6z {
   to {
      transform: rotate(360deg);
   }
}
</style>


  <body>

    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="success-animation mx-auto">
              <svg class="checkmark" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
              </svg>
            </div>
          </div>
          <div class="modal-body text-center " style="color: black;">
            <h1>مبرووك ! </h1>
            <h2 style="font-size: 1.6rem;"> لقد حصلت علي </h2>
            <h3 style="font-size: 1.4rem; font-weight: bolder;"><span id="successModalGrade"></span> / <span
                id="successModalTotalQuestions"></span></h3>
          </div>
        <div class="modal-footer mx-auto">
            <button class="btn btn-primary" onclick="window.location.href='/student/exams';">
              العودة إلى صفحة الامتحانات
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="failModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header mx-auto">
            <div class="wrong-animation ">
              <i class="fa-sharp fa-regular fa-circle-xmark"></i>
            </div>
          </div>
          <div class="modal-body text-center " style="color: black;">
            <h1>لأسف ! </h1>
            <h2 style="font-size: 1.6rem;"> لقد حصلت علي </h2>
            <h3 style="font-size: 1.4rem; font-weight: bolder;"><span id="failModalGrade"></span> / <span
                id="failModalTotalQuestions"></span></h3>
            <h2> النسبه دي اقل من 50 % فكدا هتعيد الامتحان من جديد</h2>
          </div>
        <div class="modal-footer mx-auto">
            <button class="btn btn-primary" onclick="window.location.href='/student/exams';">
              العودة إلى صفحة الامتحانات
            </button>
          </div>
        </div>
      </div>
    </div>


    <button type="button" style="display: none;" id="successmodelbtn" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#successModal">
      Launch demo modal
    </button>
    <button type="button" style="display: none;" id="failmodelbtn" class="btn btn-warning" data-bs-toggle="modal"
      data-bs-target="#failModal">
      Launch demo modal
    </button>
    <!-- <div id="preloader"></div>  -->
    <div id="mySidebar" class="sidebars" >
      <div class="questions" dir="ltr">
        <div class="row" id="sidebarQuestions">
          <% randomQuestions.forEach((question, index) => { %>
          <div class="col-3">
            <button onclick="window.location.href='/student/quizStart/<%= quiz._id %>?qNumber=<%= index + 1 %>'">
              <%= index + 1 %>
            </button>
          </div>
        <% }) %>

  
        </div>
      </div>
    </div>
    <div class="theme-toggler" style="display: none;">
      <span class="material-icons-sharp active">
        light_mode
      </span>
      <span class="material-icons-sharp">
        dark_mode
      </span>
    </div>


    <div class="container ">
      <div id="main" style="display: inline;">
        <button class="openbtn" id="openNav" onclick="openNav()"><i class="fa-solid fa-angles-right"></i></button>
        <button class="openbtn" id="closeNav" onclick="closeNav()" style="display: none;"><i
            class="fa-solid fa-angles-left"></i></button>
      </div>
      <div class="quiz-info mx-auto " id="quiz-info">
        <% if (quiz) { %>

   


          <div class="quizStart" >
            <div class="row">

              <div class=" col">
                <div class="time"> <span id="minutes"></span> : <span id="seconds"></span> </div>
              </div>
              <div class="col ">
                <div class="questionsLeft float-end"><span id="QuestionInProgress">1</span> / <span>
                    <%= randomQuestions.length %>
                  </span></div>
              </div>
            </div> 

            <form id="questionSec" class="answersSec" action="">
         
            </form>
            

            <div class="TraverseBtn">
              <button id="next" class="next"> التالي &raquo; </button>
              <button id="finish" class="finish" disabled> انهاء الامتحان</button>
              <button id="prev" class="inactive prev"> &laquo; السابق </button>
            </div>

          </div>

          <% } %>
    

      </div>
    </div>



    <script src="/assest/bootstrap.bundle.min.js"></script>
    <script src="/assest/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   <script>


  // ================== side bar  ====== ///

      /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
      function openNav() {
        document.getElementById("mySidebar").style.width = "310px";
        document.getElementById("mySidebar").style.paddingRight = "20px";
        document.getElementById("mySidebar").style.paddingLeft = "20px";
        document.getElementById("main").style.marginLeft = "300px";
        document.getElementById("openNav").style.display = "none";
        document.getElementById("closeNav").style.display = "inline";
      }

      /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("mySidebar").style.paddingRight = "0";
        document.getElementById("mySidebar").style.paddingLeft = "0";

        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("closeNav").style.display = "none";
        document.getElementById("openNav").style.display = "inline";
      }


      // ==================  end side bar  ====== ///
// ==================  Set up variables and local storage  ========= ///

let answers = [];
let qNumber = null;
let endTime = null; // Initialize endTime variable

// Load answers from localStorage
if (localStorage.getItem("answers")) {
  try {
    answers = JSON.parse(localStorage.getItem("answers"));
  } catch (error) {
    console.error("Error parsing answers from localStorage:", error);
  }
}


const quizData = <%- JSON.stringify(quiz) %>;
const quizQuestions = <%- JSON.stringify(randomQuestions) %>;
const question = <%- JSON.stringify(question) %>;
const userQuizInfo = <%- JSON.stringify(userQuizInfo) %>;

// console.log(quizData['Questions']);
endTime = new Date(userQuizInfo.endTime).getTime(); // Set endTime from userQuizInfo
// ==================  Timer  ============== //
 // Timer setup with proper server time sync
  function updateTimer() {
    if (!endTime || endTime - Date.now() <= 0) {
      finish();
    } else {
      let intervalId = setInterval(() => {
        const remainingTime = endTime - Date.now();
        if (remainingTime <= 0) {
          clearInterval(intervalId);
          finish();
        }
        const minutes = Math.floor(remainingTime / 60000);
        const seconds = Math.floor((remainingTime % 60000) / 1000);
        document.getElementById("minutes").innerText = String(minutes).padStart(2, '0');
        document.getElementById("seconds").innerText = String(seconds).padStart(2, '0');
      }, 1000);
    }
  }


  window.onload = updateTimer(); // Call updateTimer function when the window loads

// ==================  Timer  ====== ///


// Check if the question and qNumber exist
if (question && question.qNumber) {
  qNumber = +question.qNumber;
}

// Check if the current question number is equal to the total number of questions
if (qNumber == quizData.sampleQuestions) {
  document.querySelector("#next").style.display = "none";
  document.querySelector("#finish").removeAttribute("disabled");
} else if (qNumber == 1) {
  document.querySelector("#prev").style.display = "none";
}

// Update the question in progress display
document.getElementById("QuestionInProgress").innerHTML = qNumber || 0;

if (question == null) {
  document.getElementById("StartQuiz").addEventListener('click', () => {
    qNumber++;
    window.location.href = `/student/quizStart/${quizData._id}?qNumber=${qNumber}`;

    localStorage.setItem("QuizID", `${quizData._id}`);

    document.getElementById("mySidebar").style.display = "inline";
    document.getElementById("main").style.display = "inline";
  });
}

if (qNumber >= 1) {
  localStorage.setItem("QuizID", `${quizData._id}`);
  updateQuestion(question);

  document.getElementById("mySidebar").style.display = "inline";
  document.getElementById("main").style.display = "inline";
}

// Debounced Next Button Handler
let nextButtonDisabled = false;
document.getElementById("next").addEventListener('click', () => {
  if (!nextButtonDisabled) {
    nextButtonDisabled = true;
    setTimeout(() => {
      nextButtonDisabled = false;
      next(); // Call next logic
    }, 500); // Debounce time of 500ms
  }
});

// Debounced Previous Button Handler
let prevButtonDisabled = false;
document.getElementById("prev").addEventListener('click', () => {
  if (!prevButtonDisabled) {
    prevButtonDisabled = true;
    setTimeout(() => {
      prevButtonDisabled = false;
      prev(); // Call previous logic
    }, 500); // Debounce time of 500ms
  }
});

document.getElementById("finish").addEventListener('click', () => {
  document.getElementById("finish").setAttribute('disabled', true);

  setTimeout(() => {
    finish();
  }, 1);
});

function next() {
  setTimeout(() => {
    const selectedOption = document.querySelector('input[name="answer"]:checked');
    if (selectedOption) {
      answers[qNumber] = Number(selectedOption.value);
      questionSec.innerHTML = `<div class="spinner mx-auto mb-4"></div>`;
    } else {
      questionSec.innerHTML = `<div class="spinner mx-auto mb-4"></div>`;
      console.log("No option selected!");
    }

    document.querySelector("#prev").style.display = "inline";
    qNumber++;
    localStorage.setItem("answers", JSON.stringify(answers));

    if (qNumber === quizData.sampleQuestions) {
      document.querySelector("#next").style.display = "none";
      document.querySelector("#finish").removeAttribute("disabled");
      localStorage.setItem("answers", JSON.stringify(answers));
    }
    window.location.href = `/student/quizStart/${quizData._id}?qNumber=${qNumber}`;
  }, 100); // Delay of 100 milliseconds
}

function prev() {
  const selectedOption = document.querySelector('input[name="answer"]:checked');
  if (selectedOption) {
    answers[qNumber] = Number(selectedOption.value);
    questionSec.innerHTML = `<div class="spinner mx-auto mb-4"></div>`;
  } else {
    questionSec.innerHTML = `<div class="spinner mx-auto mb-4"></div>`;
  }

  document.querySelector("#prev").style.display = "inline";
  qNumber--;
  localStorage.setItem("answers", JSON.stringify(answers));

  if (qNumber == 1) {
    document.querySelector("#prev").style.display = "none";
    localStorage.setItem("answers", JSON.stringify(answers));
  }
  window.location.href = `/student/quizStart/${quizData._id}?qNumber=${qNumber}`;
}

async function finish() {
  const selectedOption = document.querySelector('input[name="answer"]:checked');
  if (selectedOption) {
    answers[qNumber] = Number(selectedOption.value);
  }
  localStorage.setItem("answers", JSON.stringify(answers));
  const numCorrect = calculateCorrectAnswers();
  const totalQuestions = quizData.sampleQuestions;
  const grade = (numCorrect / totalQuestions) * 100;

  const requestData = {
    grade: grade,
    score: numCorrect,
    answers: answers,
  };

  if (grade >= 50) {
    document.getElementById("successModalGrade").innerText = numCorrect;
    document.getElementById("successModalTotalQuestions").innerText = totalQuestions;
    document.getElementById("successmodelbtn").click();
  } else {
    document.getElementById("failModalGrade").innerText = numCorrect;
    document.getElementById("failModalTotalQuestions").innerText = totalQuestions;
    document.getElementById("failmodelbtn").click();
  }


  const response = await fetch(`/student/quizStart/${quizData._id}`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(requestData),
  })
  const data = await response.json();
  if(response.ok){
    localStorage.clear("answers");
    console.log(data); 
  }else{
    window.location.href = `/student/quizStart/${quizData._id}?qNumber=${qNumber}`;
  }
 
}

function calculateCorrectAnswers() {
  let numCorrect = 0;
  let c = 1;
  quizQuestions.forEach((question) => {
   
    answers[c] == +(question.ranswer) ? numCorrect++ : console.log();
    c++;
  });

  return numCorrect;
}

async function updateQuestion(question) {
  let questionSec = document.querySelector("#questionSec");
      // document.getElementById("questionSec").style.display = "inline";
    if(question.questionPhoto!=""){
          
      questionSec.innerHTML = `
      <div class="box-img mb-3">
    <img src="${question.questionPhoto}" >
    </div>
    <h1 class="questionSec" id="titleOfQuestion">${question.title}</h1>
    <input type="radio" name="answer" class="RD form-check-input" value="1" id="answer1" ${answers[qNumber] === 1 ? "checked" : ""}><label for="answer1" class="text">${await question.answer1}</label><br/>
    <input type="radio" name="answer" class="RD form-check-input" value="2" id="answer2" ${answers[qNumber] === 2 ? "checked" : ""}><label for="answer2" class="text">${await question.answer2}</label><br/>
    <input type="radio" name="answer" class="RD form-check-input" value="3" id="answer3" ${answers[qNumber] === 3 ? "checked" : ""}><label for="answer3" class="text">${await question.answer3}</label><br/>
    <input type="radio" name="answer" class="RD form-check-input" value="4" id="answer4" ${answers[qNumber] === 4 ? "checked" : ""}><label for="answer4" class="text">${await question.answer4}</label><br/>
      `;
    }else{
      questionSec.innerHTML = `

    <h1 class="questionSec" id="titleOfQuestion">${question.title}</h1>
    <input type="radio" name="answer" class="RD form-check-input" value="1" id="answer1" ${answers[qNumber] === 1 ? "checked" : ""}><label for="answer1" class="text">${await question.answer1}</label><br/>
    <input type="radio" name="answer" class="RD form-check-input" value="2" id="answer2" ${answers[qNumber] === 2 ? "checked" : ""}><label for="answer2" class="text">${await question.answer2}</label><br/>
    <input type="radio" name="answer" class="RD form-check-input" value="3" id="answer3" ${answers[qNumber] === 3 ? "checked" : ""}><label for="answer3" class="text">${await question.answer3}</label><br/>
    <input type="radio" name="answer" class="RD form-check-input" value="4" id="answer4" ${answers[qNumber] === 4 ? "checked" : ""}><label for="answer4" class="text">${await question.answer4}</label><br/>
      `;
    }
}








    </script>

    
  </body>

</html>